<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Tacker</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<script>
    window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        location.reload();
    }}
    if (window.location.href.includes('reload')) {
    window.location.href = '/';
    
    }
    function editor(){
        window.location.href = 'editor.ejs';
    }
    document.getElementById('lol').submit();
</script>
<body>
  
    <div class = "sidebar">
        <%-include('sidebar_view')%>
    </div>
    <section>
      <div>
        Topic id <%=current_topic%>
      </div>
      <%-include('task_view')%>
</section>
</body>
</html>